.home {
  width: 50%;
  margin: auto;
  margin-top: 30vh;
  border: 2px rgba(75, 75, 212, 0.678) solid;
  /* border-radius: 10px; */
}
.toggle-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.toggle {
  text-align: center;
  width: 50%;
  padding: 30px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle:hover {
  background-color: rgb(223, 219, 219);
}

.selected {
  border-bottom: 4px rgba(75, 75, 212, 0.678) solid;
}

input {
  padding: 5px;
  border: 2px solid grey;
  margin-bottom: 10px;
}

button {
  padding: 7px;
  background-color: lightblue;
  border: 2px black solid;
  border-radius: 10px;
  font-weight: bold;
  width: 25%;
  cursor: pointer;
}

.auth {
  justify-content: center;
}

/* .meetList {
  text-decoration: none;
} */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  margin: 20px;
  border-radius: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* cursor: pointer; */
  cursor: default;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
