.navbar {
  background-color: lightblue;
  padding: 1rem 0;
  padding: 10px;
}

.navbar-brand {
  background-color: lightblue;
  color: blue;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar-item {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.navbar-user {
  margin-top: 0.5rem;
  text-align: right;
  color: blue;
}
